@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


header {
    display:flex;
    flex-direction: column; 
    align-items: right;
}

a {
    text-decoration: none;
    color: pink;    
}

img{
   width: 100%;
   max-height: 100%;
   border-radius: 10px;  
           
}

h1, h2{
    font-family: "Sevillana", cursive;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    color: brown;
}

p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: justify;
}


footer{
    background-color: palevioletred;
    max-width: 100%; 
    text-align: center;
    color: white;
    
}

button{
    background-color: palevioletred;
    color: white;
    padding: 10px 20px;         
    text-align: center;         
    text-decoration: none;      
    display: inline-block;      
    font-size: 16px;            
    margin: 4px 2px;
    border: none;            
    border-radius: 5px;         
    cursor: pointer; 
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: pink;
    color: #fff;
}

.logo p {
    margin: 0;
    font-size: 1.5rem;
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-list {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu {
        display: none;
        position: relative;
        width: 100%;
        background-color: pink;
        text-align: center;
    }

    .mobile-menu.open {
        display: block;
    }

    .mobile-menu ul {
        list-style: none;
    }

    .mobile-menu .nav-item {
        padding: 10px;
    }

    .mobile-menu .nav-link {
        color: #fff;
}
}


.botao-vermelho{
    background-color: red;
    text-align: center;         
    text-decoration: none;      
    font-size: 16px;            
    border: none;             
    border-radius: 5px;         
    cursor: pointer;  
}

.botao-azul{
    color: white;
    background-color: blue;
    padding: 10px 20px;         
    text-align: center;         
    text-decoration: none;      
    display: inline-block;      
    font-size: 16px;            
    margin: 4px 2px;  
    border: none;            
    border-radius: 5px;         
    cursor: pointer;  
}

.botao-amarelo {
    background-color: yellow; 
    color: white;            
    padding: 10px 20px;    
    text-align: center;         
    text-decoration: none;      
    display: inline-block;      
    font-size: 16px;            
    margin: 4px 2px;  
    border: none;            
    border-radius: 5px;         
    cursor: pointer;       
}

.botao-amarelo:hover {
    color: black;        
    background-color: white;  
    text-decoration: none;  
}

.botao-verde {
    color: black;            
    text-align: center;         
    text-decoration: none;              
    cursor: pointer;            
}


.botao-verde:hover {
    color: lightgreen;           
}
